[submodule "oh-my-zsh"]
	path = oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh.git
[submodule "janus/vim-python-test-runner"]
	path = janus/vim-python-test-runner
	url = https://github.com/Alechan/vim-python-test-runner.git
[submodule "janus/tcomment_vim"]
	path = janus/tcomment_vim
	url = https://github.com/tomtom/tcomment_vim
[submodule "janus/vim-eunuch"]
	path = janus/vim-eunuch
	url = https://github.com/tpope/vim-eunuch
[submodule "REQGS-DONT-LINK/gnome-terminal-colors-solarized"]
	path = REQGS-DONT-LINK/gnome-terminal-colors-solarized
	url = https://github.com/Anthony25/gnome-terminal-colors-solarized
[submodule "janus/vim-powerline"]
	path = janus/vim-powerline
	url = https://github.com/Lokaltog/vim-powerline.git
[submodule "janus/gruvbox"]
	path = janus/gruvbox
	url = https://github.com/morhetz/gruvbox.git
[submodule "janus/vim-textobj-user"]
	path = janus/vim-textobj-user
	url = https://github.com/kana/vim-textobj-user.git
[submodule "janus/vim-textobj-python"]
	path = janus/vim-textobj-python
	url = https://github.com/bps/vim-textobj-python
